<ul class="sidebar-nav">
    <li><a href="/store">Home</a></li>
    <li><a href="/store/tea-list">All tea</a></li>
    <li><a href="/store/categories">All tea categories</a></li>
    <hr>
    <li><a href="/store/tea/create">Add new tea</a></li>
    <li><a href="/store/category/create">Add new tea category</a></li>
</ul>